@page "/add-student"
@using static StudentAspireCrud.Web.StudentApiClient
@inject StudentApiClient StudentApi
@rendermode InteractiveServer
@using StudentAspireCrud.Web.Models
@inject NavigationManager NavigationManager

<div class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="bg-light rounded-4 px-5 pt-3 pb-4 w-50">
            <p class="text-center fs-4 fw-bold">Add Student</p>
            <EditForm Model="_addStudent" FormName="addStudent" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="First name" @bind-value="_addStudent.FirstName" />
                    <ValidationMessage For="@(() => _addStudent.FirstName)" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Last name" @bind-value="_addStudent.LastName" />
                    <ValidationMessage For="@(() => _addStudent.LastName)" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Age" @bind-value="_addStudent.Age" />
                    <ValidationMessage For="@(() => _addStudent.Age)" />
                </div>
                <div class="text-center"> 
                    <button class="btn btn-dark w-100 py-2" type="submit">Submit</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    AddStudentModel _addStudent = new();

    private async Task HandleSubmit()
    {
        var response = await StudentApi.AddStudent(_addStudent);
        if(response != null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
